.container {
  padding-left: var(--padding-left);
  position: relative;

  .border {
    width: 5px;
    height: 90%;
    background-image: var(--gradient);

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}
