.absoluteBorder {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  display: flex;
  position: relative;

  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);

  border-left: 1px solid var(--border-color-transparent);
  border-right: 1px solid var(--border-color-transparent);

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    height: 100%;
    z-index: 10;
  }

  .borderX {
    width: 100%;
    transform: translate(-50%, -50%);
    @extend .absoluteBorder;
  }

  .borderY {
    width: 100vh;
    transform: translate(-50%, -50%) rotate(90deg);
    @extend .absoluteBorder;
  }

  @media screen and (max-width: 1024px) {
    border: none;
    padding: 60px 20px 40px;
  }
}

.controlContainer {
  display: flex;
  flex-direction: column;
  gap: 56px;
  min-height: 300px;
  padding-top: 50px;

  .control {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: var(--padding-x-min);

    .actions {
      display: flex;
      gap: 20px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid var(--border-active);
        background-color: var(--background);

        svg {
          fill: var(--font-color);
        }

        @media screen and (max-width: 1024px) {
          width: 25px;
          height: 25px;

          svg {
            width: 16px;
          }
        }
      }

      @media screen and (max-width: 1024px) {
        gap: 8px;
      }
    }

    @media screen and (max-width: 1024px) {
      gap: 6px;
    }
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column-reverse;

    border-top: 1px solid var(--border-color-transparent);
    padding-top: 20px;
  }
}
